.container {
    background-image: linear-gradient(to bottom, #6495ED, white);
    width: auto;
    height: 30px;
    font-family: arial;
    border: none;
    padding: 0;
    margin: auto;
    text-align: left;
    top: 0px;
    position: relative;
    text-decoration: none;
    display: auto;
    font-style:arial black;
}
.busca {
    position: absolute; top: -15px; left: 1000px;
}
.campo {
    background-color: rgba(248, 248, 118, 0.61);
    width: auto;
    height: 550px;
    margin: auto;
}
.more {
    background-color: blue;
  }